footer.agents__footer
    .agents-footer__item 2020, Группа компаний «КВС»
    .agents-footer__item 
        a(href="#") Политика персональных данных
    .agents-footer__item Разработка: 
        a(href="https://ra-studio.ru/") RA-Studio