//- <div class="lightbox show">
//-     <div class="wrapper">
//-         <button type="button" class="close">Закрыть</button>
//-         <div class="content">
//-             <form data-v-1fc59991="" name="form" class="form">
//-                 <h2 data-v-1fc59991="">Выберите дату и время и место просмотра объекта</h2>
//-                 <ul data-v-1fc59991="" class="fields ra_form-grid-2">
//-                     <li data-v-1fc59991="" class="radios">
//-                         <input data-v-1fc59991="" type="checkbox" name="place" id="place" class="select" />
//-                         <div data-v-1fc59991="" class="select">
//-                             <label data-v-1fc59991="" for="place">Место просмотра</label> <label data-v-1fc59991="" for="place" class="select"><span data-v-1fc59991="" class="value"></span></label>
//-                             <ul data-v-1fc59991="" class="ra-list">
//-                                 <li data-v-1fc59991="">
//-                                     <input data-v-1fc59991="" type="radio" name="place" id="place1" data-type="radios" data-required="yes" class="option" value="office" />
//-                                     <label data-v-1fc59991="" for="place1">В офисе</label>
//-                                 </li>
//-                                 <li data-v-1fc59991="">
//-                                     <input data-v-1fc59991="" type="radio" name="place" id="place0" data-type="radios" data-required="yes" class="option" value="object" />
//-                                     <label data-v-1fc59991="" for="place0">На объекте</label>
//-                                 </li>
//-                             </ul>
//-                         </div>
//-                         <ul data-v-1fc59991="" class="messages" style="display: none">
//-                             <li data-v-1fc59991="" class="error">Время просмотра</li>
//-                         </ul>
//-                     </li>
//-                     <li class="checkboxes" data-for="SECTION_OBJECT156">
//-                         <input class="multiselect not-event-filter empty" type="checkbox" name="SECTION_OBJECT" id="SECTION_OBJECT156" />
//-                         <div class="multiselect">
//-                             <label for="SECTION_OBJECT156">Жилой комплекс</label>
//-                             <label class="multiselect" for="SECTION_OBJECT156">
//-                                 <span class="value" data-empty="Любой"></span>
//-                                 <span class="plus"></span>
//-                             </label>
//-                             <ul>
//-                                 <li data-contorl-map="1114">
//-                                     <input type="checkbox" name="arrFilter_156_2878553208" id="arrFilter_156_2878553208" value="Y" class="option" />
//-                                     <label for="arrFilter_156_2878553208">Клубный дом «Б57»</label>
//-                                 </li>
//-                                 <li data-contorl-map="117">
//-                                     <input type="checkbox" name="arrFilter_156_2752050184" id="arrFilter_156_2752050184" value="Y" class="option" />
//-                                     <label for="arrFilter_156_2752050184">ЖК «Любоград» в Стрельне</label>
//-                                 </li>
//-                                 <li data-contorl-map="22">
//-                                     <input type="checkbox" name="arrFilter_156_1685985038" id="arrFilter_156_1685985038" value="Y" class="option" />
//-                                     <label for="arrFilter_156_1685985038">ЖК «Ясно.Янино»</label>
//-                                 </li>
//-                                 <li data-contorl-map="642">
//-                                     <input type="checkbox" name="arrFilter_156_2891637319" id="arrFilter_156_2891637319" value="Y" class="option" />
//-                                     <label for="arrFilter_156_2891637319">ЖК «Наутилус»</label>
//-                                 </li>
//-                                 <li data-contorl-map="723">
//-                                     <input type="checkbox" name="arrFilter_156_2361728864" id="arrFilter_156_2361728864" value="Y" class="option" />
//-                                     <label for="arrFilter_156_2361728864">ЖК «Континенты»</label>
//-                                 </li>
//-                                 <li data-contorl-map="8">
//-                                     <input type="checkbox" name="arrFilter_156_4194326291" id="arrFilter_156_4194326291" value="Y" class="option" />
//-                                     <label for="arrFilter_156_4194326291">ЖК «Новое Сертолово»</label>
//-                                 </li>
//-                             </ul>
//-                         </div>
//-                     </li>              
//-                     <li data-v-1fc59991="" class="date ra_form-grid__item1">
//-                         <span data-v-1fc59991=""><div data-v-05016e86="" class="vc-popover-content-wrapper is-interactive" style="margin: 0px"><!----></div></span><input data-v-1fc59991="" id="date" name="date" type="text" data-field-picker-out="" data-required="yes" readonly="readonly" class="" />
//-                         <label data-v-1fc59991="" for="date">Дата просмотра</label>
//-                         <div data-v-1fc59991="" class="datepicker"></div>
//-                         <ul data-v-1fc59991="" class="messages" style="display: none">
//-                             <li data-v-1fc59991="" class="error">Выберите дату</li>
//-                         </ul>
//-                     </li>
//-                     <li data-v-1fc59991="" class="radios ra_form-grid__item1">
//-                         <input data-v-1fc59991="" type="checkbox" name="time" id="time" class="select" />
//-                         <div data-v-1fc59991="" class="select">
//-                             <label data-v-1fc59991="" for="time">Время</label> <label data-v-1fc59991="" for="time" class="select"><span data-v-1fc59991="" class="value"></span></label>
//-                             <ul data-v-1fc59991="" class="ra-list">
//-                                 <li data-v-1fc59991="">
//-                                     <input data-v-1fc59991="" type="radio" name="time" id="time[10:00]" data-type="radios" data-required="yes" class="option" value="10:00" />
//-                                     <label data-v-1fc59991="" for="time[10:00]">10:00</label>
//-                                 </li>
//-                                 <li data-v-1fc59991="">
//-                                     <input data-v-1fc59991="" type="radio" name="time" id="time[10:15]" data-type="radios" data-required="yes" class="option" value="10:15" />
//-                                     <label data-v-1fc59991="" for="time[10:15]">10:15</label>
//-                                 </li>
//-                                 <li data-v-1fc59991="">
//-                                     <input data-v-1fc59991="" type="radio" name="time" id="time[10:30]" data-type="radios" data-required="yes" class="option" value="10:30" />
//-                                     <label data-v-1fc59991="" for="time[10:30]">10:30</label>
//-                                 </li>
//-                                 <li data-v-1fc59991="">
//-                                     <input data-v-1fc59991="" type="radio" name="time" id="time[10:45]" data-type="radios" data-required="yes" class="option" value="10:45" />
//-                                     <label data-v-1fc59991="" for="time[10:45]">10:45</label>
//-                                 </li>
//-                                 <li data-v-1fc59991="">
//-                                     <input data-v-1fc59991="" type="radio" name="time" id="time[11:00]" data-type="radios" data-required="yes" class="option" value="11:00" />
//-                                     <label data-v-1fc59991="" for="time[11:00]">11:00</label>
//-                                 </li>
//-                             </ul>
//-                         </div>
//-                         <ul data-v-1fc59991="" class="messages" style="display: none">
//-                             <li data-v-1fc59991="" class="error">Выберите время</li>
//-                         </ul>
//-                     </li>
//-                     <li data-v-1fc59991="">
//-                         <input data-v-1fc59991="" id="name" name="name" type="text" data-required="yes" /> <label data-v-1fc59991="" for="name">Адрес доставки</label>
//-                         <ul data-v-1fc59991="" class="messages" style="display: none">
//-                             <li data-v-1fc59991="" class="error">Заполните поле</li>
//-                         </ul>
//-                     </li>
//-                     <li data-v-1fc59991="" class="submit"><button data-v-1fc59991="" type="submit">Записать</button></li>
//-                 </ul>
//-             </form>
//-         </div>
//-     </div>
//- </div>
