extends ../template

block variables
  - var title = 'Ожидание аккредитации'

block content
    main.components-container
        .main-screen__col
            h1.title Ваша заявка на рассмотрении
            p.subtitle Ваши документы на проверке. Ожидайте подтверждение на почту в течение 3-х рабочих дней