extends ../template

block variables
  - var title = 'Клиенты до одобрения аккредитации'

block content
    main.components-container
        .main-screen__col
            h1.title Здесь будут отображаться ваши клиенты
            p.subtitle Здесь будут отображаться клиенты ваших сотрудников как только ваша аккредитация будет одобрена.