extends ../template

block variables
  - var title = 'Клиенты до аккредитации'

block content
    main.components-container
        .main-screen__col
            h1.title Здесь будут отображаться ваши клиенты
            p.subtitle Чтобы добавить клиентов - заполните информационную карту и загрузите документы на аккредитацию в личном кабинете. 
            .main-screen__btns.main-screen-btns
                a.btn-orange(href="accreditation.html") Заполнить заявку на аккредитацию