extends ../template

block variables
  - var title = 'Сделки до одобрения аккредитации'

block content
    main.components-container
        .main-screen__col
            h1.title Здесь будут отображаться ваши сделки 
            p.subtitle Здесь будут отображаться сделки ваших сотрудников как только ваша аккредитация будет одобрена.