extends ../template

block variables
  - var title = 'Карта сайта'

block content
    main.components-container
        .stream-narrow
            section.table
                h2.title Карта сайта
                p.subtitle Кабинет руководителя
                .markup-wrapper
                    .markup
                        table
                            tbody
                                tr
                                    td 
                                        a(href="main.html" target="_blank") Главная
                                    td 
                                        a(href="reg1.html" target="_blank") Регистрация1
                                    td 
                                        a(href="auth1.html" target="_blank") Вход1
                                tr
                                    td 
                                        a(href="reg2.html" target="_blank") Регистрация2
                                    td 
                                        a(href="auth2.html" target="_blank") Вход2
                                    td 
                                        a(href="reg3.html" target="_blank") После регистрации
                                tr
                                    td 
                                        a(href="accreditation.html" target="_blank") Аккредитация
                                    td 
                                        a(href="accreditation-waiting.html" target="_blank") Ожидание аккредитации
                                    td 
                                        a(href="deal-before-accreditation.html" target="_blank") Cделки до аккредитации
                                tr
                                    td 
                                        a(href="deal-waiting-accreditation.html" target="_blank") Сделки до одобрения аккредитации
                                    td 
                                        a(href="clients-before-accreditation.html" target="_blank") Клиенты до аккредитации
                                    td 
                                        a(href="clients-waiting-accreditation.html" target="_blank") Клиенты до одобрения аккредитации
                                tr
                                    td 
                                        a(href="agent-mainpage.html" target="_blank") Главная страница Агента
                                    td 
                                        a(href="objects.html" target="_blank") Объекты
                                    td 
                                        a(href="deals.html" target="_blank") Сделки
                                tr
                                    td 
                                        a(href="clients.html" target="_blank") Клиенты
                                    td 
                                        a(href="documents.html" target="_blank") Документы
                                    td 
                                        a(href="news.html" target="_blank") Новости
                                tr
                                    td 
                                        a(href="lk-data.html" target="_blank") ЛК Личные данные
                                    td 
                                        a(href="lk-staff.html" target="_blank") ЛК Сотрудники
                                    td 
                                        a(href="lk-notices.html" target="_blank") ЛК Уведомления
                                tr
                                    td 
                                        a(href="lk-events.html" target="_blank") ЛК Календарь мероприятий
                                tr
                                    td 
                                        a(href="pop-reg-obj.html" target="_blank") Выберите дату и время и место просмотра объекта
                                    td 
                                        a(href="pop-reg-obg-ok.html" target="_blank") Заявка на просмотр отправлена
                                    td 
                                        a(href="pop-del.html" target="_blank") Удалить запись